<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <a href="http://localhost:8080/">Inicio</a>
    <section class="productForm">
        <h1>Creador de productos</h1>
        <form action="/productsForm" enctype="multipart/form-data" method="post" class="form_align">
            <label>Nombre</label>
            <input name="name">
            <label>Foto Producto</label>
            <input type="file" name="file">
            <label>Stock</label>
            <input name="stock">
            <label>Precio</label>
            <input name="price">
            <br>
            <textarea name="description"cols="20" rows="10" class="description" placeholder="Descripción"></textarea>
            <br>
            <input type="submit">
        </form>
    </section>
</body>
</html>