<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section id="linksIndex">
        <a href="/login">login</a>
    </section>
    <div class="products">
        <section>
            <select name="filter" id="filter" onchange="takeValue()">
                <option value="all">All</option>
                <option value="lower1000">0-1000</option>
                <option value="higher1000">+1000</option>
            </select>
            <div id="productsTemplate"></div>
        </section>
    </div>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../index.js"></script>
</body>
</html>