<p>
    bienvenido, usuario {{this.username}}
</p>
<a href="http://localhost:8080/logout">logout</a>
<br>
<a href="http://localhost:8080/profile">ir al perfil</a>
<br>
<a href="http://localhost:8080/cart">ir al carrito</a>